In [1]:
import os
import pandas as pd
df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv")
# pd=pd.read_csv("data/auto-mpg.csv")
print(df[0:5])

    mpg  cylinders  displacement horsepower  weight  acceleration  year  \
0  18.0          8         307.0        130    3504          12.0    70
1  15.0          8         350.0        165    3693          11.5    70
2  18.0          8         318.0        150    3436          11.0    70
3  16.0          8         304.0        150    3433          12.0    70
4  17.0          8         302.0        140    3449          10.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [2]:
display(df[0:5])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
df=df.select_dtypes(include=['int','float'])
headers=list(df.columns.values)
fields=[]

for field in headers:
    fields.append({
        'name':field,
        'mean':df[field].mean(),
        'var':df[field].var(),
        'sdev':df[field].std()
    })
for field in fields:
    print(field)

{'name': 'mpg', 'mean': 23.514572864321607, 'var': 61.089610774274405, 'sdev': 7.815984312565782}
{'name': 'cylinders', 'mean': 5.454773869346734, 'var': 2.8934154399199943, 'sdev': 1.7010042445332094}
{'name': 'displacement', 'mean': 193.42587939698493, 'var': 10872.199152247364, 'sdev': 104.26983817119581}
{'name': 'weight', 'mean': 2970.424623115578, 'var': 717140.9905256768, 'sdev': 846.8417741973271}
{'name': 'acceleration', 'mean': 15.568090452261307, 'var': 7.604848233611381, 'sdev': 2.7576889298126757}
{'name': 'year', 'mean': 76.01005025125629, 'var': 13.672442818627143, 'sdev': 3.697626646732623}
{'name': 'origin', 'mean': 1.5728643216080402, 'var': 0.6432920268850575, 'sdev': 0.8020548777266163}

In [4]:
df2=pd.DataFrame(fields)
display(df2)

           name         mean            var        sdev
0           mpg    23.514573      61.089611    7.815984
1     cylinders     5.454774       2.893415    1.701004
2  displacement   193.425879   10872.199152  104.269838
3        weight  2970.424623  717140.990526  846.841774
4  acceleration    15.568090       7.604848    2.757689
5          year    76.010050      13.672443    3.697627
6        origin     1.572864       0.643292    0.802055

In [5]:
import os
import pandas as pd
df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
               na_values=['NA','?'])
print(f"horsepower has na? {pd.isnull(df['horsepower']).values.any()}")

print("Filling missing values...")
med=df['horsepower'].median()
df['horsepower']=df['horsepower'].fillna(med)
# df=df.dropna
print(f"horsepower has na? {pd.isnull(df['horsepower']).values.any()}")

horsepower has na? True
Filling missing values...
horsepower has na? False

In [6]:
def remove_outliers(df,name,sd):
    drop_rows=df.index[(np.abs(df[name]-df[name].mean())
                      >=(sd*df[name].std()))]
    df.drop(drop_rows,axis=0,inplace=True)

In [17]:
import pandas as pd
import os
import numpy as np
from sklearn import metrics
from scipy.stats import zscore

df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
               na_values=['NA','?'])


med=df['horsepower'].median()
df['horsepower']=df['horsepower'].fillna(med)

df.drop(labels='name',axis=1,inplace=True)

print(f"Length before MPG outlier dropped: {len(df)}")
remove_outliers(df,'mpg',2)
print(f"Length after MPG outlier dropped: {len(df)}")

display(df[0:5])

Length before MPG outlier dropped: 398
Length after MPG outlier dropped: 388

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1
2,18.0,8,318.0,150.0,3436,11.0,70,1
3,16.0,8,304.0,150.0,3433,12.0,70,1
4,17.0,8,302.0,140.0,3449,10.5,70,1

In [18]:
import pandas as pd
import os

df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
               na_values=['NA','?'])

print(f"Before drop: {list(df.columns)}")
df.drop(labels='name',axis=1,inplace=True)
print(f"After drop: {list(df.columns)}")

Before drop: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']
After drop: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin']

In [19]:
import pandas as pd
import os

df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
               na_values=['NA','?'])

col_horsepower=df['horsepower']
col_name=df['name']
result=pd.concat([col_name,col_horsepower],axis=1)
display(result[0:5])

                        name  horsepower
0  chevrolet chevelle malibu       130.0
1          buick skylark 320       165.0
2         plymouth satellite       150.0
3              amc rebel sst       150.0
4                ford torino       140.0

In [20]:
import pandas as pd
import os

df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
               na_values=['NA','?'])
result=pd.concat([df[0:2],df[-2:]],axis=0)
display(result)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [23]:
import pandas as pd
import os

df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
               na_values=['NA','?'])
df=df.reindex(np.random.permutation(df.index))
mask=np.random.rand(len(df))<0.8
trainDF=pd.DataFrame(df[mask])
validationDF=pd.DataFrame(df[~mask])

print(f"Training DF: {len(trainDF)}")
print(f"Validation DF: {len(validationDF)}")

Training DF: 320
Validation DF: 78

In [24]:
df.values

array([[30.0, 4, 97.0, ..., 77, 3, 'subaru dl'],
       [25.0, 4, 98.0, ..., 71, 1, 'ford pinto'],
       [20.3, 5, 131.0, ..., 78, 2, 'audi 5000'],
       ...,
       [36.0, 4, 135.0, ..., 82, 1, 'dodge charger 2.2'],
       [15.0, 8, 318.0, ..., 73, 1, 'dodge dart custom'],
       [30.5, 4, 98.0, ..., 77, 1, 'chevrolet chevette']], dtype=object)

In [25]:
df[['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin']].values

array([[ 30. ,   4. ,  97. , ...,  16.4,  77. ,   3. ],
       [ 25. ,   4. ,  98. , ...,  19. ,  71. ,   1. ],
       [ 20.3,   5. , 131. , ...,  15.9,  78. ,   2. ],
       ...,
       [ 36. ,   4. , 135. , ...,  13. ,  82. ,   1. ],
       [ 15. ,   8. , 318. , ...,  11. ,  73. ,   1. ],
       [ 30.5,   4. ,  98. , ...,  17. ,  77. ,   1. ]])

In [36]:
import os
import pandas
import numpy as np

path='.\data'

df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
               na_values=['NA','?'])

filename_write=os.path.join(path,'auto_mpg_shuffle.csv')
df=df.reindex(np.random.permutation(df.index))
df.to_csv(filename_write,index=False)
print("Done")

Done

In [37]:
import os
import pandas as pd
import numpy as np
import pickle

path='.\data'

df=pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
               na_values=['NA','?'])

filename_write=os.path.join(path,'auto_mpg_shuffle.pkl')
df=df.reindex(np.random.permutation(df.index))
with open(filename_write,'wb') as fp:
    pickle.dump(df,fp)
print("Done")

Done

In [35]:
import os
import pandas as pd
import numpy as np
import pickle

path='.\data'

filename_read=os.path.join(path,'auto_mpg_shuffle.pkl')

with open(filename_read,'rb') as fp:
    df=pickle.load(fp)
display(df[0:5])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
322,46.6,4,86.0,65.0,2110,17.9,80,3,mazda glc
283,20.2,6,232.0,90.0,3265,18.2,79,1,amc concord dl 6
134,16.0,6,258.0,110.0,3632,18.0,74,1,amc matador
279,29.5,4,98.0,68.0,2135,16.6,78,3,honda accord lx
391,36.0,4,135.0,84.0,2370,13.0,82,1,dodge charger 2.2